<%- include('partials/header'); -%>

<h1>forgot pass page</h1>
<p>Enter in your email that you forgot the password to:</p>
<form action="">
    <label for="email">Email</label>
    <input type="text" name="email" required>
</form>

<%- include('partials/footer'); -%>