<%- include('partials/header'); -%>

<h1>login page</h1>

<form>
    <h2>Login</h2>
    <label for="email">Email</label>
    <input type="text" name="email" required>
    <div class="email error"></div>
    <label for="email">Password</label>
    <input type="password" name="password" required>
    <div class="password error"></div>
    <button>Login</button>
</form>

<%- include('partials/footer'); -%>