<%- include('partials/header'); -%>

<h1>new password page</h1>

<form action="">
    <label for="password">New Password</label>
    <input type="text" name="password" required>
</form>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
       const form = document.querySelector("form");

       form.addEventListener("submit", async (e) => {
        e.preventDefault();
        let password = {password: form.password.value};
        let href = window.location.href;
        let email = href.slice(href.indexOf("=")+1);
        const emailJSON = {email: email};

        console.log(emailJSON);
        console.log(password);

        try {
    const result = await fetch("/newpass", {//endpoint we want to request to, options object
        method: "POST", //we want to look for post request
        body: JSON.stringify({ email: emailJSON, password: password}),  //the email and password the user is trying to sign up with
        headers: { "Content-Type": "application/json" }
    });
    const data = await result.json(); //getting the data out of result
    console.log(data);
}
catch(err){
    console.log(err);
}
        });
</script>

<%- include('partials/footer'); -%>